# Operating Systems
.DS_Store
Thumbs.db

# Yarn 2 Zero-Install (https://yarnpkg.com/features/zero-installs)
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Dev
dist/
dist-cjs/
coverage/
*.tsbuildinfo
node_modules

# Other
*.log
.idea/workspace.xml
.idea/runConfigurations
.eslintcache
.idea/php.xml
.idea/GitLink.xml
